<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stubru chart</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #ecf0f1;
        }
    </style>
</head>
<body>
<div class="chart-container" style="position: relative; height:100vh; width:100vw; margin: auto;">
    <canvas id="chart"></canvas>
</div>
<script src="../bower_components/chart.js/dist/Chart.js"></script>
<script>
    Chart.Line('chart', {
        data: {
            labels: ['{{labels}}'],
            datasets: [{
                label: 'new Comments',
                data: ['{{data}}'],
                backgroundColor: ['rgba(0, 0, 0, 0)'],
                borderColor: ['rgba(52, 152, 219, 1.0)']
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                yAxes: [{ticks: {beginAtZero: true}, gridLines: {display: false}}],
                xAxes: [{gridLines: {display: false}}]
            }
        }
    });
</script>
</body>
</html>